<footer>
  <div class="container">
    <div class="footer-item">
      <h3 class="section-title">Join us</h3>
      <p>Sundays at 4pm<br>J11 - 1051 J St., San Diego, CA 92101</p>
      <a class="button" href="/">Get Directions</a>
    </div>
    <div class="footer-item">
      <h3 class="section-title">Get the app</h3>
      <p>Weekly meetups, prayer support, a running club... It’s all on the Second Sunday app.</p>
      <a class="button" href="/">iOS</a>
      <a class="button" href="/">Android</a>
    </div>
  </div>
  <div class="container">
    <ul>
      <li>© Second Sunday Ministries, 2020</li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="{{site.links.giving}}">Giving</a></li>
    </ul>
    <ul>
      <li class="instagram-icon"><a href="{{site.links.instagram}}"></a></li>
      <li class="facebook-icon" ><a href="{{site.links.facebook}}"></a></li>
    </ul>
  </div>
</footer>
