.image-grid-container {
  padding-bottom: 100px;
}

.image-grid {
  display: grid;
  grid-gap: 50px;
  align-items: stretch;
  margin-bottom: 50px;
  img {
    grid-row: 1 / span 1;
    width: 100%;
    object-fit: cover;
  }
}

.image-grid-container:last-child {
  margin-bottom: 0;
}

.bigleft {
    grid-template-columns: 13fr 7fr;
}
.bigright {
    grid-template-columns: 7fr 13fr;
}

@media only screen and (max-width: 768px) {
  .image-grid {
    grid-gap: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {

}
