.image-grid-container {
  position: relative;
  margin-bottom: 200px;
  z-index: 100;
  img.outlier {
    position: absolute;
    z-index: 500;
  }
  #img-hand-clouds {
    width: 18%;
    max-width: 200px;
    right: 0;
    margin-right: -7%;
    top: -12%;
  }
  #img-cross {
    width: 10%;
    max-width: 150px;
    left: 7%;
    bottom: -23%;
  }
  #img-hand-light {
    width: 18%;
    max-width: 200px;
    left: 7%;
    top: 42%;
  }
}

.image-grid {
  display: grid;
  grid-gap: 50px;
  align-items: stretch;
  margin-bottom: 50px;
  img {
    grid-row: 1 / span 1;
    width: 100%;
    object-fit: cover;
  }
}

.image-grid-container-bottom {
  margin-bottom: 0;
}

.bigleft {
    grid-template-columns: 13fr 7fr;
}
.bigright {
    grid-template-columns: 7fr 13fr;
}

@media only screen and (max-width: 768px) {
  .image-grid {
    grid-gap: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .image-grid-container {
    margin-bottom: 0;
    #img-hand-clouds {
      margin-right: 0;
      width: 25%;
      top: -25%;
    }
    #img-cross {
      width: 20%;
      bottom: -40%;
    }
    #img-hand-light {
      width: 25%;
      left: 5%;
      top: 40%;
    }
  }
  .image-grid {
    grid-gap: 0;
    margin-bottom: 0;
  }
}
