.image-grid {
  margin: 185px 0 100px 0;
  .row {
    width: 100%;
    display: flex;
    .col {
      position: relative;
      width: 50%;
      img {
        position: relative;
      }
    }
    .col-right {
      left: 50%;
    }
  }
}

@media only screen and (max-width: 600px) {

.image-grid {
  .row {
    display: block;
    .col {
      width: 100%;
      background: black;
    }
    .col-right {
      width: 80%;
      left: 20%;
    }
  }
}
}
