// Layout
//
// Styles for managing the structural hierarchy of the site.
body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #AC9693;
}
body.page-attend, body.page-contact {
  background: #E86F5F;
}

.clear {
  width: 100%;
  height: 1px;
  clear: both;
}

.container, .image-container {
  padding-left:  100px;
  padding-right: 100px;
  max-width: 1400px;
  margin: 0 auto;
}

.h1-container, .h1-container-sub {
  position: relative;
  margin: 0;
  padding: 225px 0;
  z-index: 100;
  width: 100%;
  h1 {
    margin: 0;
    left: 0;
    position: relative;
    text-align: left;
  }
}

.h1-container-sub {
  padding: 150px 0;
}

p.headline {
  margin: 0 0 40px 0;
}

p.margin-bottom {
  margin-bottom: 100px;
}

.page-content {
  position: relative;
  background:#AC9693;
  padding: 100px 0 0 0;
  z-index: 1;
  &.alternate {
    background: #E86F5F;
    padding: 0;
  }
}

.vision-statement, .home-feature {
  padding-bottom: 150px;
  position: relative;
  p {
    margin-bottom: 0;
  }
  p.headline {
    margin-bottom: 30px;
  }
  img {
    max-width: 42%;
    float: left;
  }
  .vision-content, .home-feature-content {
    position: relative;
    width: 50%;
    margin: 0 0 0 50%;
    padding: 0 0 0 0;
  }
  &.left {
    img {
      float: right;
      margin-left: 0;
    }
    .vision-content, .home-feature-content {
        margin: 0;
    }
  }
}

.home-feature {
  background: #EB705F;
  padding: 100px 0;
  margin-bottom: 100px;
  .home-feature-content {
    margin: 0 0 0 0;
    padding: 0 50px 0 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    * {
    }
  }
  img {
  }
  a.button {
    margin-top: 40px;
    display: inline-block;
  }
}

.event {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 250px 1fr 150px;
  margin-bottom: 50px;
  img {
    float: left;
    width: 250px;
    margin-right: 50px;
  }
  div.button {
    display: grid;
    align-items: center;
  }
  a.button {
    text-align: center !important;
    background: rgba(255, 255, 255, 0.15);
    border: none;
    padding: 0;
  }
  .event-info {
    display: grid;
    align-items: center;
    h3 {
      margin: 15px 0 0 0;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        font-weight: 900;
        font-size: 16px;
        line-height: 29px;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #fff;
        display: inline;
        padding: 0 15px 0 20px;
        position: relative;
        line-height: 24px;
      }
      li:first-child {
        padding-left: 0;
      }
      span.dot {
        display: inline-block;
        position: absolute;
        width: 5px;
        height: 5px;
        background: rgba(255,255,255,.35);
        border-radius: 5px;
        top: 50%;
        margin-top: -3px;
        left: 0;
      }
      span.repeat {
        display: inline-block;
        position: relative;
        top: 5px;
        margin-right: 5px;
        width: 24px;
        height: 24px;
        background: url(/assets/images/ui/repeat-icon.svg);

      }
    }
  }
}

a.button, button {
  padding: 0 30px;
  height: 60px;
  line-height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.people-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 150px;
}


@media only screen and (max-width: 768px) {
  .container, .image-container {
    padding: 0 50px;
  }

  .event {
    display: block;
    div.button {
      margin-top: 30px;
      display: inline-block;
    }
  }

}

@media only screen and (max-width: 600px) {
body {
  background-image: none !important;
}

.image-container {
  padding: 0;
}
a.button {
  display: inline-block;
}
.page-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: block;
  background-position: center center;
  background-size: cover;
}

.h1-container, .h1-container-sub {
  height: auto;
  min-height: auto;
  padding: 150px 0 110px 0;
}

.page-content {
  padding: 50px 0;
}

.home-feature {
  margin-bottom: 0;
}
p.headline {
  margin: 0 0 20px 0;
}
p.margin-bottom {
  margin-bottom: 50px;
}

.vision-statement, .home-feature {
  padding-bottom: 50px;
  img {
    position: relative;
    width: 100%;
    max-width: 100%;
    float: none;
    margin-left: 0;
  }
  .vision-content, .home-feature-content {
    position: relative;
    padding: 30px 0;
    margin: 0;
    width: 100%;
  }
  &.left {
    img {
      float: none;
      margin: 0;
    }
    .vision-content, .home-feature-content {
    }
  }
}

.event {
  img {
    position: relative;
    float: none;
    width: 100%;
  }
  .event-info {
    display: block;
    padding-top: 20px;
  }
}
.home-feature {
  padding: 50px 0  0 0;
  .home-feature-content {
    position: relative;
    top: 0;
    margin-top: 50px;
    padding: 50px 0;
    transform: none;
  }
  a.button {
  }
  &.left {
    img {
    }
  }
}

.people-grid {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}

}
