// Layout
//
// Styles for managing the structural hierarchy of the site.
body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #AC9693;
}

.container {
  padding-left:  100px;
  padding-right: 100px;
  max-width: 1400px;
  margin: 0 auto;
}

.h1-container, .h1-container-sub {
  position: relative;
  margin: 0;
  padding: 225px 0;
  z-index: 100;
  width: 100%;
  h1 {
    margin: 0;
    left: 0;
    position: relative;
    text-align: left;
  }
}

.h1-container-sub {
  padding: 150px 0;
}

p.headline {
  margin: 0 0 40px 0;
}

.page-content {
  position: relative;
  background:#AC9693;
  padding: 100px 0 0 0;
  z-index: 1;
}

.vision-statement, .home-feature {
  padding-bottom: 150px;
  position: relative;
  p {
    margin-bottom: 0;
  }
  p.headline {
    margin-bottom: 30px;
  }
  img {
    max-width: 42%;
    float: left;
  }
  .vision-content, .home-feature-content {
    position: relative;
    width: 50%;
    margin: 0 0 0 50%;
    padding: 0 0 0 0;
  }
  &.left {
    img {
      float: right;
      margin-left: 0;
    }
    .vision-content, .home-feature-content {
        margin: 0;
    }
  }
  .clear {
    width: 100%;
    height: 1px;
    clear: both;
  }
}

.home-feature {
  background: #EB705F;
  padding: 100px 0;
  margin-bottom: 100px;
  .home-feature-content {
    margin: 0 0 0 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    * {
    }
  }
  img {
  }
  a.button {
    margin-top: 40px;
    display: inline-block;
  }
}

a.button {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  height: 60px;
  line-height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.people-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  margin-bottom: 150px;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 600px) {
body {
  background-image: none !important;
}

a.button {
  display: inline-block;
}
.page-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: block;
  background-position: center center;
  background-size: cover;
}

.h1-container, .h1-container-sub {
  height: auto;
  min-height: auto;
  padding: 150px 0 110px 0;
}

.page-content {
  padding: 50px 0;
}
p.headline {
  margin: 0 0 20px 0;
}
.vision-statement, .home-feature {
  padding-bottom: 50px;
  img {
    position: relative;
    width: 100%;
    max-width: 100%;
    float: none;
    margin-left: 0;
  }
  .vision-content, .home-feature-content {
    position: relative;
    padding: 30px 0;
    margin: 0;
    width: 100%;
  }
  &.left {
    img {
      float: none;
      margin: 0;
    }
    .vision-content, .home-feature-content {
    }
  }
}

.home-feature {
  padding: 50px 0  0 0;
  .home-feature-content {
    position: relative;
    top: 0;
    margin-top: 50px;
    padding: 50px 0;
    transform: none;
  }
  a.button {
    margin-top: 40px;
  }
  &.left {
    img {
    }
  }
}

.people-grid {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
}

}
