// Layout
//
// Styles for managing the structural hierarchy of the site.
body {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #AC9693;
}

.page-background {
    display: none;
}

.container {
  max-width: 1500px;
  padding-left:  100px;
  padding-right: 100px;
  margin-left:  auto;
  margin-right: auto;
}

.h1-container, .h1-container-sub {
  position: absolute;
  margin: 0;
  height: 100vh;
  min-height: 800px;
  display: flex;
  z-index: 100;
}
.h1-container-sub {
  position: relative;
  height: 98vh;
}
h1 {
  margin: auto 100px;
}
p.headline {
  margin: 0 0 40px 0;
}

.hero-banner {
  position: absolute;
  left: 100px;
  top: 300px;
  padding: 60px 80px;
  background: #EB705F;
  font-size: 45px;
  line-height: 70px;
  color: #fff;
  z-index: 100;
}
.page-content {
  position: relative;
  background:#AC9693;
  padding: 100px 0;
  z-index: 1;
}

.vision-statement {
  margin-bottom: 150px;
  p {
    margin-bottom: 0;
  }
  p.headline {
    margin-bottom: 30px;
  }
  img {
    max-width: 37%;
    float: left;
    margin-left: 100px;
  }
  .vision-content {
    position: relative;
    width: 40%;
    margin: 0 100px 0 50%;
    padding: 0 0 0 0;
    .clear {
      width: 100%;
      clear: both;
    }
  }
  &.left {
    img {
      float: right;
      margin-left: 0;
      margin-right: 100px;
    }
    .vision-content {
        margin: 0 0 0 100px;
    }
  }
}

.announcement {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: flex-end;
  .announcement-info {
    margin: 0 0 100px 100px;
    h2 {
      margin-bottom: 50px;
    }
    .announcement-info-box {
      background: #EB705F;
      padding: 45px 50px;
      display: flex;
      align-items: center;
      width: auto;
      max-width: 700px;
      p {
        margin: 0 25px 0 0;
        max-width: 300px;
      }
      .button {
        margin-left: 25px;
      }
    }
  }
  .right {
    margin-left: auto;
    margin-right: 100px;
    h2 {
      text-align: right !important;
      display: block;
    }
  }
}

a.button {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  height: 60px;
  line-height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.people-grid {
  display: flex;
  width: 100%;
  padding: 0 100px;
  img {
    max-width: 300px;
  }
}
@media only screen and (max-width: 600px) {

.hero-banner {
  top: 150px;
  margin: 0 auto;
  font-size: 22px;
  padding: 20px;
  line-height: 34px;
}

a.button {
  display: inline-block;
}
.announcement {
  height: 800px;
  .announcement-info {
    width: 100%;
    margin: 0 30px 30px 30px;
    .announcement-info-box {
      display: block;
      .button {
        margin: 40px 20px 0 0;
      }
    }
  }
  .right {
    h2 { text-align: left !important; }
  }
}

}

@media only screen and (max-width: 600px) {
body {
  background-image: none !important;
}

.page-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: block;
  background-position: center center;
  background-size: cover;
}

.container {
  padding: 0;
}

.h1-container, .h1-container-sub {
  height: auto;
  min-height: auto;
  padding: 150px 0;
  h1 {
    margin: 0 50px;
  }
}

.page-content {
  padding-top: 0;
}
p.headline {
  margin: 0 0 20px 0;
}
.vision-statement {
  margin-bottom: 50px;
  img {
    position: relative;
    width: 100%;
    max-width: 100%;
    float: none;
    margin-left: 0;
  }
  .vision-content {
    padding: 30px 0;
    margin: 0 50px 0 50px;
    width:  auto;
  }
  &.left {
    img {
      float: none;
      margin: 0;
    }
    .vision-content {
        margin: 0 50px 0 50px;
    }
  }
}
}
