<!doctype html>
<html lang="en">

  {% include head.html %}

  <body class="{{page.body-class}}" {% if page.background-image %} style="background-image: url({{page.background-image}})"{% endif %}>

    <header>
    <!-- menu test as per https://codepen.io/markcaron/pen/pPZVWO -->
 <nav id="main-menu" class="main-menu" aria-label="Main menu">
   <div class="container">
   <a href="#main-menu-toggle"
      id="main-menu-close"
      class="menu-close"
      aria-label="Close main menu">
     <span class="sr-only">Close main menu</span>
     <span class="fa fa-close" aria-hidden="true"></span>
   </a>
   <ul>
     <li><a href="/vision">Vision</a></li>
     <li><a href="/people">People</a></li>
     <li><a href="/attend">Attend</a></li>
     <li><a href="{{site.links.giving}}">Giving</a></li>
     <!--<li><a href="/contact">Contact</a></li>-->
   </ul>
  </div>
 </nav>
 <a href="#main-menu-toggle"
    class="backdrop"
    tabindex="-1"
    aria-hidden="true" hidden></a>


      <a href="/" id="logo"></a>

      <div id="menu">
        <ul id="menu-short">
          <li id="link-vision"><a href="/vision">Vision</a></li>
          <li id="link-people"><a href="/people">People</a></li>
          <li id="link-attend"><a href="/attend">Attend</a></li>
        </ul>
        <div id="menu-button"><a href="#main-menu"
        id="main-menu-toggle"
        class="menu-toggle"
        aria-label="Open main menu">
       <span class="sr-only">Open main menu</span>
       <span class="fa fa-bars" aria-hidden="true"></span>
     </a></div>
      </div>

    </header>

    <div class="page-background" style="background-image: url({{page.background-image}});"></div>

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="/assets/js/rellax.min.js"></script>

    {% if page.body-class == "page-home" %}
    <script type="text/javascript">
      window.addEventListener("load", function () {
        // Accepts any class name
        //var rellax = new Rellax('.rellax');
        var rellax = new Rellax('.outlier');
      });
    </script>
    {% endif %}
    <!--
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        //offset: 100
      });
    </script>
  -->

    {% if site.ga_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.ga_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
