<!doctype html>
<html lang="en">

  {% include head.html %}

  <body style="background-image: url({{page.background-image}}); background-position: 50 0; background-size: cover; background-attachment: fixed;">

    <header>
    <!-- menu test as per https://codepen.io/markcaron/pen/pPZVWO -->


 <nav id="main-menu" class="main-menu" aria-label="Main menu">
   <a href="#main-menu-toggle"
      id="main-menu-close"
      class="menu-close"
      aria-label="Close main menu">
     <span class="sr-only">Close main menu</span>
     <span class="fa fa-close" aria-hidden="true"></span>
   </a>
   <ul>
     <li><a href="#">Vision</a></li>
     <li><a href="#">People</a></li>
     <li><a href="#">Attend</a></li>
     <li><a href="#">Giving</a></li>
     <li><a href="#">Contact</a></li>
   </ul>
 </nav>
 <a href="#main-menu-toggle"
    class="backdrop"
    tabindex="-1"
    aria-hidden="true" hidden></a>


      <div id="logo"></div>

      <div id="menu">
        <ul id="menu-short">
          <li><a href="/">Vision</a></li>
          <li><a href="/">People</a></li>
          <li><a href="/">Attend</a></li>
        </ul>
        <div id="menu-button"><a href="#main-menu"
        id="main-menu-toggle"
        class="menu-toggle"
        aria-label="Open main menu">
       <span class="sr-only">Open main menu</span>
       <span class="fa fa-bars" aria-hidden="true"></span>
     </a></div>
      </div>

    </header>

    {{ content }}

    {% include footer.html %}

    <script type="text/javascript" src="/assets/js/rellax.min.js"></script>
    <script type="text/javascript">
      window.addEventListener("load", function () {
        // Accepts any class name
        var rellax = new Rellax('.rellax');
      });
    </script>

    {% if site.ga_analytics %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.ga_analytics }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
